<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: gold;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <p><a href="http://localhost:8080/customermapping/test">Test Page</a></p>
    <p><a href="http://localhost:8080/customermapping/customer/all">Customer All</a></p>
    <p><a href="http://localhost:8080/customermapping/customer/112">Customer By Id</a></p>
    <p><a href="http://localhost:8080/customermapping/mycustomer/name/a">Customer by name</a></p>
    <p><a href="http://localhost:8080/customermapping/mycustomer/like/a">Customer Like Name with customised method</a>
    </p>
    <p><a href="http://localhost:8080/customermapping/mycustomer/querylike/auto">Customer query</a></p>
    <p><a href="http://localhost:8080/customermapping/mycustomer/querylike/auto">Customer query</a></p>
    <p><a href="http://localhost:8080/customertemplate/firstpage/customer/all">Customer open all</a></p>
    <p><a href="http://localhost:8080/productlinetemplate/firstpage/productlines/all">Product line open all</a></p>

</div>

<h1>Pages with TEMPLATES</h1>
<div>
    <p><a href="http://localhost:8080/customertemplate/firstpage/curtomer/112" target="_blank">
        Open page from templates customer with id 112</a></p>
</div>
<div>
    <p><a href="http://localhost:8080/productlinetemplate/firstpage_productlines/productlines/Ships" target="_blank">
        Open page from templates productLine with Ships</a></p>
</div>
</div>

<h1>Pages with StyleS</h1>

<div>
    <div>
        <p><a href="http://localhost:8080/customertemplate/customer/122">Styles Web</a></p>
    </div>
</body>
</html>