<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p><a href="http://localhost:8080/customermapping/test">Test Page</a></p>
    <p><a href="http://localhost:8080/customermapping/customer/all">Customer All</a></p>
    <p><a href="http://localhost:8080/customermapping/customer/112">Customer By Id</a></p>
    <p><a href="http://localhost:8080/customermapping/mycustomer/name/a">Customer by name</a></p>
    <p><a href="http://localhost:8080/customermapping/mycustomer/like/a">Customer Like Name with customised method</a>
    </p>
    <p><a href="http://localhost:8080/customermapping/mycustomer/querylike/auto">Customer query</a></p>
</div>

<h1>Pages with TEMPLATES</h1>
<div>
    <p><a href="http://localhost:8080/customertemplate/firstpage/curtomer/112" target="_blank"> Open page from templates customer with id 112</a></p>
</div>
</body>
</html>